<div class="screen-container" >
  <table class="screen-container-table">
    <tbody class="screen-body">
    <tr>
      <td class="screen-item">{{num[1]}}</td>
      <td class="screen-item">{{num[2]}}</td>
      <td class="screen-item">{{num[3]}}</td>
    </tr>
    <tr>
      <td class="screen-item">{{num[4]}}</td>
      <td class="screen-item">{{num[5]}}</td>
      <td class="screen-item">{{num[6]}}</td>
    </tr>
    <tr>
      <td class="screen-item">{{num[7]}}</td>
      <td class="screen-item">{{num[8]}}</td>
      <td class="screen-item">{{num[9]}}</td>
    </tr>
    <tr>
      <td class="screen-item">*</td>
      <td class="screen-item">{{num[0]}}</td>
      <td class="screen-item">#</td>
    </tr>
    </tbody>
  </table>
</div>
