.index-container{
  width: 360px;
  height: 100%;
  background: rgba(17, 69, 151, 0.81);
  text-align: justify;
}
.app {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  display: inline-block;
  margin: 50px 15px;
  text-align: center;
  position: relative;
  left: 15px;
  cursor: pointer;
}
.app span{
  color: white;
  font-family: Impact;
  font-size: 35px;
}
.app p {
  font-size: 14px;
  color: white;
}
